@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    font-weight: bold;
}

h5 {
    font-size: 14px;
}

.text-logo{
    font-weight: bold;
    color: #14568A;
    font-size: 25px;
    padding-left: 8px;
} 

.navbar {
    z-index: 999999;
    background-color: #ffffff;
}

.section {
    background-color: #EBEFFD;
}

.sub-banner {
    color: #14568A;
}

.text-topik-pembahasan {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.btn-selengkapnya {
    text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: white;
    padding: 14px 30px;
    border-radius: 9999999px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 50px;
}

.section-footer{
    height: 30vh;
    background-color: #ffffff;
}
.footer, p{
    text-align: center;
}
.footer-color{
    font-weight: bold;
    color: #14568A;

}

@media (min-width: 425px){
    h1 {
        font-size: 70px;
        font-weight: bold;
    }

    h2 {
        font-size: 50px;
        font-weight: bold;
    }

    h3 {
        font-size: 38px;
        font-weight: bold;
    }

    h5 {
        font-size: 18px;
    }
}